{% extends "base.html" %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block head-tag %}
<link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
{% endblock %}
{% block content %}
    {% if form.errors %}
      <ul class="alert alert-danger">
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
    </form>
{% endblock %}
