{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Eliminar" %} · PetStore{% endblock %}
{% block content %}
  <h1>{% trans "Eliminar producto" %}</h1>
  <p>{% blocktrans with object_name=object %}¿Seguro que deseas eliminar <strong>{{ object_name }}</strong>?{% endblocktrans %}</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">{% trans "Sí, eliminar" %}</button>
    <a href="{% url 'catalog:product_list' %}">{% trans "No, volver" %}</a>
  </form>
{% endblock %}
