<nav style="padding:12px;border-bottom:1px solid #ddd;display:flex;gap:12px;align-items:center">
  <a href="{% url 'home' %}" style="font-weight:700">PetStore</a>

  <a href="{% url 'catalog:product_list' %}">Catálogo</a>

  <div style="margin-left:auto; display:flex; gap:8px">
    {% if request.user.is_authenticated %}
      {% if request.user.is_staff %}
        <a href="{% url 'dashboard:index' %}">Dashboard</a>
      {% endif %}
      <span>Hola, {{ request.user.username }}</span>
      <a href="{% url 'accounts:logout' %}">Salir</a>
    {% else %}
      <a href="{% url 'accounts:login' %}">Entrar</a>
    {% endif %}
  </div>
</nav>
