{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PetStore POS{ endblock }</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav style="padding: 12px; border-bottom: 1px solid #ddd;">
        <a href="{% url 'home' %}" style="font-weight: 700;"> PetStore </a>
    </nav>
    <main style="max-width: 960px;margin:20px auto; padding: 0 12px;">
            {% block content %}{% endblock %}
    </main>
</body>
</html>