Django>=5.2,<6.0
psycopg2-binary>=2.9.0
django-bootstrap5>=23.0
django-recaptcha>=4.0.0
django-widget-tweaks>=1.5
django-formtools>=2.5
python-dotenv>=1.0.0
Pillow>=10.0.0
asgiref==3.9.1
sqlparse==0.5.3
tzdata==2025.2
requests==2.32.5